.Today-schedule {
  /* width: 480px;
  height: 256px;
  gap: 0px;
  border-radius: 20px;
  opacity: 0px;
  background-color: #ffffff; */
  width: 251px;
  height: 66px;
  top: 765px;
  left: 940px;
  gap: 0px;
  opacity: 0px;
}
